<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
  <div ng-app="myApp" ng-controller="myCtrl">
    <select ng-model="selectedCar">
      <option ng-repeat="x in cars" value="{{x.model}}">{{x.model + ' ' + x.color}}</option>
    </select>
    <h1>You Selected:{{selectedCar}}</h1>
  </div>
  <script>
  var app = angular.module('myApp', []);
  app.controller('myCtrl', function($scope){
    $scope.cars = [
        {model : "Ford Mustang", color : "red"},
        {model : "Fiat 500", color : "white"},
        {model : "Volvo XC90", color : "black"}
    ];
  });
  </script>
  <p>
    ng-options or option ng-repeat will bring a drop-down menu, with the options specified in the names variable.
  </p>
</body>
</html>
